<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

<body>
	<h1>
		HOLA MUNDO DESDE JAVA
	</h1>
	<table>
		<thead>
			<tr>
				<th>CEDULA</th>
				<th>NOMBRE</th>
				<th>APELLIDO</th>
				<th>GENERO</th>
				<th>Accion</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona:${personas}">
				<td th:text="${persona.cedula}"></td>
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.apellido}"></td>
				<td th:text="${persona.genero}"></td>
				<td>
					<form th:action="@{/personas/buscarPorCedula/{cedulaPersona}(cedulaPersona=${persona.cedula})}"
						th:method="GET">
						<input type="submit" value="actualizar">
					</form>
				</td>
				<td>
					<form th:action="@{/personas/borrarPorCedula/{cedula}(cedula=${persona.cedula})}"
						th:method="DELETE">
						<input type="submit" value="eliminar">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>